<div class="container" >

    <div class="row" >


		<h1>Editing Book</h1>

		<%= form_for(@book1) do |f| %>

			<h4>Title</h4>

			<%= f.text_field :title, class: "book_title" %>

		    <h4>Opinion</h4>

			<%= f.text_area :opinion, class: "book_body" %>

			<%= f.submit 'Update Book' %>

			<%= link_to "Show" ,book_path(@book1.user), class: "book_#{@book1.user.id}" %>

			<%= link_to "Back",books_path, class: "back" %>

		<% end %>
</div>
